@charset "utf-8";

* {
  box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, p {
  margin: 0;
}
li {
  list-style: none;
}

::selection {
  color:#DDDDDD;
  background-color:rgba(216, 76, 49, 0.8);
}

::-webkit-scrollbar {
  width:6px;
  height:9px
}
::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:start:decrement {
  background:0 0;
  display:none;
}
::-webkit-scrollbar-track-piece {
  background-color:rgba(0, 0, 0, .04);
}
::-webkit-scrollbar-track-piece:vertical:start {
  border-radius:3px 3px 0 0;
}
::-webkit-scrollbar-track-piece:vertical:end {
  border-radius:0 0 3px 3px;
}
::-webkit-scrollbar-track-piece:horizontal:start {
  border-radius:5px 0 0 5px;
}
::-webkit-scrollbar-track-piece:horizontal:end {
  border-radius:0 5px 5px 0;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
  background-color:#DBD6CD;
}
::-webkit-scrollbar-thumb:vertical {
  border-radius:3px;
  height:50px;
}
::-webkit-scrollbar-thumb:horizontal {
  border-radius:5px;
  width:50px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#CCC7BF;
}