.ajs-input {
	position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 4px 12px;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-variant: tabular-nums;
    line-height: 1.5;
    outline: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    color: rgba(0,0,0,0.65);
    background: #ffffff;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:hover {
	    border-color: #40a9ff;
	}

	&:focus {
	    border-color: #40a9ff;
	    outline: 0;
	    -webkit-box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
	    box-shadow: 0 0 0 2px rgba(24,144,255,0.2);
	}
}